#submit-container {
    margin-top: 20px;
}

.login-form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.login-form-input {
    min-width: 200px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
}

.login-submit-btn {
    margin-top: 20px;
    padding: 10px 25px;
    background: #0570e5;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}