.card-container{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: 0 auto;
  width: 80%;
  padding: 3%;
}

.card {
    width: 256px;
    height: 418px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 0 auto;
    width: 80%;
    padding: 3%;
  }
  .recipeImg {
    width: 233px;
    height: 191px;
    border-radius: 12px;
    background-image: url(./image.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

