/* Add basic styling */
.allRecipe-container {
    background-image: url('../../src/assets/background-Imgs/recipes.png');
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr;
    max-height: 100vh;
    overflow-y: auto;;
    padding: 80px 0;
}

.allRecipe-container h1 {
    padding-left: 30px;
}

/* ingredient cards */
/* h1 {
    color: #000;
} */

.header-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

/* Header */
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

#searcContainer {
    display: grid;
    grid-template-columns: 1fr;
}

#ingredientList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.ingredient-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.ingredient-card span {
    margin-right: 5px;
}

.remove-button {
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}