
#header-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

#categoryContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}