
.home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr; /* Use 1fr to take up the full vertical space */
    align-items: center;
    height: 100vh; /* This will make the container take up the full viewport height */

}

/* Header */
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Add basic styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/images/cooking-rotated.jpg'); /* Set your desired background image */
    background-size: cover;
    /* transform: rotate(180deg); Rotate the background image by 180 degrees */
}


a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #008cff; /* Change the color to your desired color */
    /* You can also add other styles like text-decoration, background-color, etc. */
}

h1, p {
    color: white;
}

h1 {
    font-size: 3rem;
    padding: 20px;
    margin-bottom: 20px;
}
p {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-top: 15px;
}
