/* Header */
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Add basic styling */
body {
    font-family: Arial, sans-serif;
    /* Set your desired background image */
    /* position: static; */
    /* transform: rotate(180deg); Rotate the background image by 180 degrees */
}

.nav-container {
    background: black;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* 75 accounts for header */
    height: calc(100vh - 35px);
    /* This will make the container take up the full viewport height */
    /* background: rgb(0, 0, 0, .6); */

    /* background: black !important; */
    background-image: url('../assets/background-Imgs/32.png');
    position: fixed;
    background-size: cover;
}

.home-container h1 {
    font-size: 4.5rem;
    font-weight: 500;
    color: white;
    margin-top: 40%;
}

.welcome-container {
    margin-top: 50%;
}

p {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-top: 15px;
    color: #fff;
}

.startbtn {
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 5pt;
    padding: .5rem;
    background-color: rgba(0, 131, 183);
    text-decoration: none;
    color: white;
    font-size: 15pt;
    cursor: pointer;
}

.enterButton {
    color: white;
    text-decoration: none;
}

.enterButton :hover {
    background-color: rgb(0, 61, 0);
}

.enterButton button {
    cursor: pointer;
    margin-top: 50px;
    display: grid;
    background-color: rgb(0, 92, 0);
    color: white;
    padding: 15px 30px;
    margin-right: 90px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 500;
}