#profile{
    display: flex;
    margin-top: 7%;
}

#profile-pic{
    width: 200px;
    border-radius: 50%;
}

#username{
    align-self: center;
    margin-left: 50px;
}

#recipe-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.recipe-header{
    margin-top: 2rem;
}
